<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Which Disney Princess are you?</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Fred Flintstone">
        </div>
        <div class="form-group">
          <label for="input_dropdown">Favorite Color</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Blue</option>
            <option>Red</option>
            <option>Orange</option>
            <option>Pink</option>
            <option>Yellow</option>
            <option>Purple</option>
            <option>Green</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select">What is your favorite Snack?</label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>Fries</option>
            <option>Chips</option>
            <option>Yogurt</option>
            <option>Candy</option>
            <option>Carrots</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_dropdown">Favorite Place</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>The Beach</option>
            <option>Your Room</option>
            <option>The Woods</option>
            <option>The Kitchen</option>
            <option>The Mall</option>
          </select>
           <div class="form-group">
          <label for="input_dropdown">What do you during the weekend?</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Hang out with friends</option>
            <option>Read</option>
            <option>Do Chores</option>
            <option>Bake</option>
            <option>Watch Movies</option>
            <option>Dance</option>
            <option>Travel</option>
          </select>

          <input type="submit"
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

